<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="@Url.Action("Index","AdminPQ")"><i class="fas fa-user fa-fw"></i> Admin</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <a href="javascript:void(0)" onclick="confirmLogout()" id="btnDangXuat" class="btn" style="color: white; background-color: rgb(25, 195, 125); border-radius: 20px;">Đăng xuất</a>
            </div>
        </form>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading ">Quản lý khách hàng</div>
                        <a class="nav-link" href="@Url.Action("Index","sNguoiDung")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Thông tin khách hàng
                        </a>
                        <div class="sb-sidenav-menu-heading">Quản lý sản phẩm</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Sản phẩm
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","sSanPham")">Thông tin sản phẩm</a>
                                <a class="nav-link" href="@Url.Action("Index","sLoaiSanPham")">Thông tin loại sản phẩm</a>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Quản lý đơn hàng</div>
                        <a class="nav-link" href="@Url.Action("Index","sDonHang")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Thông tin đơn hàng
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","BaoCaoThongKe")">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Báo cáo thống kê
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <p id="currentDateTime">Ngày giờ hiện tại: @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</p>
                </div>
            </nav>
        </div>
        @*style="background-image: url('/Admin/img/banner1.png'); background-size: cover;"*@
        <div id="layoutSidenav_content">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Admin/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script>
        function updateCurrentDateTime() {
            var currentDate = new Date();
            var formattedDate = currentDate.toLocaleString();
            document.getElementById("currentDateTime").innerHTML = formattedDate;
        }

        setInterval(updateCurrentDateTime, 1000); // Cập nhật mỗi giây (1000 milliseconds)
        updateCurrentDateTime(); // Cập nhật lần đầu khi trang được tải
    </script>
    <script>
    function confirmLogout() {
        if (confirm('Bạn có muốn đăng xuất không?')) {
            window.location.href = '@Url.Action("DangXuat", "Account")'; // Chuyển hướng đến hành động đăng xuất nếu được xác nhận
        }
    }
    </script>
    @RenderSection("scripts", false)
</body>
</html>


