@using DemoWebNC.Models;
@model SanPham
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/Category">Category</a></li>
                    <li>@Html.ActionLink(Model.TenSP, "KetQuaTimKiem", "TimKiem", new { sTuKhoa = Model.TenSP }, null)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="product">
                    <div class="col-md-6">
                        <div class="image">
                            <img src="@Model.Anh" />
                            <div class="image-more">
                                <ul class="row">
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="@Model.Anh1" data-lightbox="gallery"><img class="img-responsive" src="@Model.Anh1"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="@Model.Anh2" data-lightbox="gallery"><img class="img-responsive" src="@Model.Anh2"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="@Model.Anh3" data-lightbox="gallery"><img class="img-responsive" src="@Model.Anh3"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="@Model.Anh4" data-lightbox="gallery"><img class="img-responsive" src="@Model.Anh4"></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="caption">
                            <div class="name"><h3>@Model.TenSP</h3></div>
                            <div class="info">
                                <ul>
                                    <li>Brand: @Model.LoaiSanPham.TenLoaiSP</li>
                                    <li>ID: @Model.MaSP</li>
                                </ul>
                            </div>
                            <div class="price">@string.Format("{0:0,0}", Model.GiaBan) VND</div>
                            <div class="rating"><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star-empty" style="color: yellow;"></span></div>
                            <div class="well"><label>Số lượng tồn: @Model.SoLuongTon</label></div>
                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @masp = Model.MaSP, @strURL = Request.Url.ToString() }, FormMethod.Post, new { id = "addToCartForm" }))
                            {
                                if (Model.SoLuongTon > 0)
                                {
                                    <input type="button" onclick="addToCart(@Model.MaSP)" style="cursor: pointer " value="Thêm vào giỏ hàng" class="btn btn-primary" id="btnGioHang">
                                }
                                else
                                {
                                    <input type="button" style="cursor: not-allowed " value="Thêm vào giỏ hàng" class="btn btn-primary" id="btnGioHang">
                                    <div class="position-relative">
                                        <span class="text-danger bg-dark p-2 rounded" style="position: absolute; right: 100px; bottom: 105px; z-index: 100;">Hết hàng !</span>
                                    </div>
                                }
                            }
                            <div class="share well" style=" margin-top: 20px">
                                <strong style="margin-right: 13px;">Share :</strong>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-desc">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description">Description</a></li>
                        @*<li><a href="#review">Review</a></li>*@
                    </ul>
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active">
                            <p style="white-space: pre-line;">@Model.MoTa</p>
                        </div>
                    </div>
                </div>
                <div class="product-related">
                    <div class="heading"><h2>RELATED PRODUCTS</h2></div>
                    <div class="products">
                        @{
                            var relatedProduct = (List<DemoWebNC.Models.SanPham>)ViewBag.relatedProduct;
                            for (int i = 0; i < relatedProduct.Count; i++)
                            {
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style=" height: 550px; width: 250px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);padding: 10px; ">
                                    <div class="product">
                                        <div class="image" style=" height: 250px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);padding: 50px; "><a href="@Url.Action("XemChiTiet", new { @masp = relatedProduct[i].MaSP,@malsp = relatedProduct[i].MaLoaiSP })"><img src="@relatedProduct[i].Anh" /></a></div>
                                        <div class="cart">
                                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @masp = relatedProduct[i].MaSP, @strURL = Request.Url.ToString() }))
                                            {
                                                if (relatedProduct[i].SoLuongTon > 0)
                                                {
                                                    <button type="submit" style="cursor: pointer; border: none; width: 40px; height: 35px; border-radius: 4px; " id="btnGioHang" class="glyphicon glyphicon-shopping-cart"></button>
                                                }
                                                else
                                                {
                                                    <button type="button" style="cursor: not-allowed; border: none; width: 40px; height: 35px; border-radius: 4px; background-color: gray; color: white;" disabled><span class="glyphicon glyphicon-shopping-cart"></span></button>
                                                    <div class="position-relative">
                                                        <span class="text-danger bg-dark p-2 rounded" style="position: absolute; right: 20px; top: 20px; z-index: 100;">Hết hàng !</span>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="caption">
                                            <div class="name">
                                                <h3><a href="@Url.Action("XemChiTiet", new { @masp = relatedProduct[i].MaSP,@malsp = relatedProduct[i].MaLoaiSP })">@(relatedProduct[i].TenSP.Length > 20 ? relatedProduct[i].TenSP.Substring(0, 20) + "..." : relatedProduct[i].TenSP)</a></h3>
                                            </div>
                                            <div class="price">@string.Format("{0:0,0}", relatedProduct[i].GiaBan)<span style="text-decoration: underline; color:black;">đ</span></div>
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star-empty" style="color: yellow;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="sidebar" class="col-md-4">
                @*<div class="widget wid-categories">
                        <div class="heading"><h4>CATEGORIES</h4></div>
                        <div class="content">
                            <ul>
                                <li><a href="#">PC Computers</a></li>
                                <li><a href="#">Laptops & Notebooks</a></li>
                                <li><a href="#">Mobiles & Tablet</a></li>
                                <li><a href="#">Software</a></li>
                            </ul>
                        </div>
                    </div>*@
                <div class="widget wid-product">
                    <div class="heading"><h4>LATEST</h4></div>
                    <div class="content">
                        <div class="products">
                            @{
                                for (int i = relatedProduct.Count - 1; i >= 0 && i >= relatedProduct.Count - 5; i--)
                                {
                                    <a href="@Url.Action("XemChiTiet", new { @masp = relatedProduct[i].MaSP,@malsp = relatedProduct[i].MaLoaiSP })" style="display: flex; justify-content: center;"><img src="@relatedProduct[i].Anh" style="width: 150px; height: 200px;" /></a>
                                    <div class="wrapper">
                                        <h5><a href="@Url.Action("XemChiTiet", new { @masp = relatedProduct[i].MaSP,@malsp = relatedProduct[i].MaLoaiSP })">@(relatedProduct[i].TenSP.Length > 20 ? relatedProduct[i].TenSP.Substring(0, 20) + "..." : relatedProduct[i].TenSP)</a></h5>
                                        <div class="price">@string.Format("{0:0,0}", relatedProduct[i].GiaBan) <span style="text-decoration: underline; color:black;"> đ</span></div>
                                        <div class="rating">
                                            <span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star-empty" style="color: yellow;"></span>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addToCart(masp) {
        $.ajax({
            url: '@Url.Action("ThemGioHang", "GioHang")',
            type: 'POST',
            data: { masp: masp, strURL: '@Request.Url.ToString()' },
            success: function (result) {
                if (result.success) {
                    // Hiển thị thông báo thành công
                    alert('Thêm vào giỏ hàng thành công!');
                    // Cập nhật số lượng sản phẩm trong giỏ hàng
                    $('#itemCount').text(result.itemCount);
                } else {
                    // Hiển thị thông báo lỗi (nếu cần)
                    alert('Đã xảy ra lỗi khi thêm vào giỏ hàng!');
                }
            }
        });
    }
</script>
@RenderBody()




