
@using DemoWebNC.Models;
@model List<SanPham>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";
}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" style="border-radius: 30px;">
                        <div class="item active">
                            <img src="~/assets/images/banner2.jpg" alt="First slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="~/assets/images/banner1.jpg" alt="Second slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="~/assets/images/banner3.jpg" alt="Third slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style="border-radius: 30px;">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" style="border-radius: 30px;">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div><!-- /carousel -->
            </div>
        </div>
        <div class="row">
            <div class="banner">
                <div class="col-sm-4">
                    <img src="~/assets/images/SubBanner3.jpg" style="border-radius:20px;" />
                </div>
                <div class="col-sm-4">
                    <img src="~/assets/images/SubBanner1.jpg" style="border-radius:20px;" />
                </div>
                <div class="col-sm-4">
                    <img src="~/assets/images/SubBanner2.jpg" style="border-radius:20px;" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h2>SPECIAL PRODUCTS</h2>
                </div>
                <div class="products">
                    @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                            if (count < 4)
                            {
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style=" height: 550px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);padding: 10px; ">
                                    <div class="product">
                                        <div class="image" style=" height: 250px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);padding: 50px;  "><a href="@Url.Action("XemChiTiet",new { @masp = item.MaSP,@malsp = item.MaLoaiSP})"><img src="@item.Anh" /></a></div>
                                        <div class="cart">
                                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @masp = item.MaSP, @strURL = Request.Url.ToString() }))
                                            {
                                                <button type="submit" style="cursor: pointer; border: none; width: 40px; height: 35px; border-radius: 4px; " id="btnGioHang" class="glyphicon glyphicon-shopping-cart"></button>
                                            }
                                        </div>
                                        <div class="buttons">
                                            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                            <a class="btn compare" href="#">
                                                <span class="glyphicon glyphicon-transfer"></span>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <div class="name">
                                                <h3>
                                                    <a href="@Url.Action("XemChiTiet", new { @masp = item.MaSP, @malsp = item.MaLoaiSP })">
                                                        @(item.TenSP.Length > 20 ? item.TenSP.Substring(0, 20) + "..." : item.TenSP)
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="price">@string.Format("{0:0,0}", item.GiaBan)<span style="text-decoration: underline; color: black;">đ</span></div>
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star-empty" style="color: yellow;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                count++;
                            }
                            else
                            {
                                break;
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="banner">
                <div class="col-sm-6">
                    <img src="~/assets/images/SubBanner4.jpg" style="border-radius:20px;" />
                </div>
                <div class="col-sm-6">
                    <img src="~/assets/images/SubBanner5.jpg" style="border-radius:20px;" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h2>FEATURED PRODUCTS</h2>
                </div>
                <div class="products">
                    @{
                        int dem = 0;
                        Model.Reverse();
                        foreach (var item in Model)
                        {
                            if (dem < 4)
                            {
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style=" height: 550px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);padding: 10px; ">
                                    <div class="product">
                                        <div class="image" style=" height: 250px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);padding: 50px; "><a href="@Url.Action("XemChiTiet",new { @masp = item.MaSP,@malsp = item.MaLoaiSP})"><img src="@item.Anh" /></a></div>
                                        <div class="cart">
                                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @masp = item.MaSP, @strURL = Request.Url.ToString() }))
                                            {
                                                <button type="submit" style="cursor: pointer; border: none; width: 40px; height: 35px; border-radius: 4px; " id="btnGioHang" class="glyphicon glyphicon-shopping-cart"></button>
                                            }
                                        </div>
                                        <div class="buttons">
                                            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                            <a class="btn compare" href="#">
                                                <span class="glyphicon glyphicon-transfer"></span>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <div class="name">
                                                <h3><a href="@Url.Action("XemChiTiet",new { @masp = item.MaSP,@malsp = item.MaLoaiSP})">@(item.TenSP.Length > 20 ? item.TenSP.Substring(0, 20) + "..." : item.TenSP)</a></h3>
                                            </div>
                                            <div class="price">@string.Format("{0:0,0}", item.GiaBan)<span style="text-decoration: underline; color:black;">đ</span></div>
                                            <div class="rating">
                                                <span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star" style="color: yellow;"></span><span class="glyphicon glyphicon-star-empty" style="color: yellow;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                dem++;
                            }
                            else
                            {
                                break; 
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>