@model DemoWebNC.Models.NguoiDung

@{
    ViewBag.Title = "Xóa thông tin khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h3 style="color: #dc3545;">Bạn có muốn xóa tài khoản này không?</h3>
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.HoTen)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.HoTen)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.TaiKhoan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.TaiKhoan)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MatKhau)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MatKhau)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DiaChi)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DienThoai)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DienThoai)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.GioiTinh)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.GioiTinh)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NgaySinh)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NgaySinh)
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" , style="margin-bottom: 200px; ">
            <button type="submit" class="btn btn-danger">Xóa</button> |
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }

</div>
